<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}<!-- inserted head-->
</head>
<body>

    <!-- block page-->
    <div class="page">        
        {{> header }}<!-- inserted block header -->    
        
        <!--open block container-->
        <main class="container">
            {{> sidebar }}<!-- inserted block sidebar-->

            {{> body }}<!-- body of pages-->      
            
            {{> footer }}<!-- inserted block footer -->
        </main><!-- end tag for class container-->

    </div><!-- end tag for class page-->    
    {{> scripts }}<!-- inserted javascripts files -->    
</body>
</html>
